<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_244</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
